name: go-package

on:
  push:
    branches: ['master']

jobs:
  build-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go 1.16
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16
          id: go

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          sudo apt-get install -y appstream
          wget "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage"
          chmod a+x appimagetool-x86_64.AppImage


      - name: Build .bin package
        run: go build -o tic-tac-go.bin .

      - name: create ouput dir
        run: |
          mkdir tic-tac-go.AppDir

      - name: download icon
        run: |
          wget https://cdn4.iconfinder.com/data/icons/core-ui-outlined/32/outlined_placeholder-512.png -o tic-tac-go.AppDir/icon.png

      - name: build go package
        run: |
          go build -o tic-tac-go.AppDir/main.bin

      - name: create .desktop entry
        run: |
          echo -e "[Desktop Entry]\n
          Type=Application\n
          Name=tic-tac-go\n
          Icon=icon
          NoDisplay=false\n
          StartupNotify=true\n
          Categories=Game;\n" >> tic-tac-go.AppDir/Desktop.desktop

      - name: create AppRun
        run: |
          echo "#!/bin/sh
          cd \"\$(dirname \"\$0\")\"
          exec ./main.bin" >> tic-tac-go.AppDir/AppRun
          chmod 755 tic-tac-go.AppDir/AppRun

      - name: building AppImage
        run: ./appimagetool-x86_64.AppImage tic-tac-go.AppDir tic-tac-go.AppImage

      - name: Build package
        run: GOOS="windows" go build -o tic-tac-go.exe .

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            tic-tac-go.bin
            tic-tac-go.AppImage
            tic-tac-go.exe
